  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-9 mx-auto">
          <p>
            &copy; <span id="date"></span>&nbsp;All Rights Reserved By
            <a href="{{ url_for('home') }}">O-Vet Care</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section -->
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>