  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_contact">
        <div class="row">
          <div class="col-md-4">
            <a href="">
              <img src="{{ url_for('static', filename='images/location-white.png') }}" alt="">
              <span>
                Cresent Road, 19 Plymouth Estate, Kwale, Anambra State, Nigeria.
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <img src="{{ url_for('static', filename='images/telephone-white.png') }}" alt="">
              <span>
                Call : +2348129008301
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <img src="{{ url_for('static', filename='images/envelope-white.png') }}" alt="">
              <span>
                contact@ovetcare.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <div class="info_form">
            <form action="">
              <input type="text" id="subscriber_email" name="subscriber_email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="info_social">
            <div>
              <a href="">
                <img src="{{ url_for('static', filename='images/fb.png') }}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end info section -->
