<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img id="logo-site" src="{{ url_for('static', filename='images/paw.png') }}" alt="Site Icon">
          <span>
            O-Vet Care
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="s-1"> </span>
          <span class="s-2"> </span>
          <span class="s-3"> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item {% if title == 'Home' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item {% if title == 'About' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
              </li>
              <li class="nav-item {% if title == 'Services' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('service') }}">Service</a>
              </li>
              <li class="nav-item {% if title == 'Contact' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
              </li>
              {% if current_user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  User
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Appointments</a>
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </li>
              {% else %}
                <li class="nav-item {% if title == 'Login' %}active{% endif %}">
                  <a class="nav-link" href="{{ url_for('login') }}">Sign In</a>
                </li>
                <li class="nav-item {% if title == 'Register' %}active{% endif %}">
                  <a class="nav-link" href="{{ url_for('register') }}">Sign Up</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->