{% include 'structure/head.html' %}
{% include 'structure/navigator.html' %}
{%- block content -%}
</div>
<!-- Login section -->

<section class="contact_section layout_padding">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% include 'structure/flash.html' %}
				<div>
					<div class="heading_container">
						<h2 class="head-center">
							Sign In
						</h2>
						<img src="{{ url_for('static', filename='images/plug.png') }}" alt="">
					</div>
				</div>
				<form action="" method="POST">
					{{ form.hidden_tag() }}
					<div class="form-group">
						{{ form.email.label(class="form-control-label") }}
						{% if form.email.errors %}
						{{ form.email(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
						{% else %}
						{{ form.email(class="form-control form-control-lg", placeholder="Email ID") }}
						{% endif %}
					</div>
					<div class="form-group">
						{{ form.password.label(class="form-control-label") }}
						{% if form.password.errors %}
							{{ form.password(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in form.password.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
						{% else %}
							{{ form.password(class="form-control form-control-lg", placeholder="Password") }}
						{% endif %}
					</div>
					<div class="form-group">
						{{ form.remember(class="form-check-input") }}
						{{ form.remember.label(class="form-check-label") }}
					</div>
					<div class="form-group">
						{{ form.submit(class="btn btn-mine btn-block btn-lg") }}
						<div class="mt-4">
							<small class="text-muted"><a href="#">Forgot Password?</a></small>
						</div>
					</div>
				</form>
				<div class="border-top pt-3">
					<small class="text-muted">
						Not yet registered? <a href="{{ url_for('register') }}">Sign Up</a>
					</small>
				</div>
			</div>
		</div>
 	</div>
</section>

<!-- end Login section -->
{%- endblock -%}
{% include 'structure/info.html' %}
{% include 'structure/footer.html' %}