{% extends 'base_layout.html' %}
{%- block content -%}

</div>
<!-- service section -->
<section class="service_section layout_padding">
  <div class="container">
    {% include 'structure/flash.html' %}
    <div class="heading_container">
      <h2>
        Our Services
      </h2>
      <img src="{{ url_for('static', filename='images/plug.png') }}" alt="">
    </div>

    <div class="service_container">
      <div class="box">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/s1.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Diagnostic and Therapeutic Services
          </h5>
          <p>
            There are many variations of passages of Lorem Ipsum available,
          </p>
        </div>
      </div>
      <div class="box active">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/s2.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Surgical Services:
          </h5>
          <p>
            There are many variations of passages of Lorem Ipsum available,
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/s3.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Behavioral Counseling
          </h5>
          <p>
            There are many variations of passages of Lorem Ipsum available,
          </p>
        </div>
      </div>
      <div class="box ">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/s4.png')}}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Bathing and Grooming
          </h5>
          <p>
            There are many variations of passages of Lorem Ipsum available,
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/s5.png')}}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Emergency Care
          </h5>
          <p>
            There are many variations of passages of Lorem Ipsum available,
          </p>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        Read More
      </a>
    </div>
  </div>
</section>
<!-- end service section -->
{%- endblock -%}